@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root {
  --primary: #D7907B;
  --secondary: #2D5873;
  --font: 'Italiana', serif;
  --titles: 6em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C2242;
}

#homepage {
  padding: 4em;
}

.homepage--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage--header {
  display: flex;
  justify-content: flex-end;
  height: 3em;
}

.homepage--title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage--theme-toggle {
  color: var(--secondary);
  font-size: 2em;
}

.homepage--text {
  font-family: var(--font);
  color: var(--primary);
  font-size: var(--titles);
  clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 0%);
}